/* .App {
  text-align: center;
} */

nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: lightslategray;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 8px 32px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: cursive;
}

#page-body {
  /* max-width: 700px;
  margin: auto; */
  padding-top: 50px;
}
